---
import { getCollection } from 'astro:content';
import TutorialLayout from '../../layouts/TutorialLayout.astro';
import NavigationButtons from '../../components/NavigationButtons.astro';
import TutorialProgress from '../../components/TutorialProgress.svelte';

export async function getStaticPaths() {
  const tutorials = await getCollection('tutorials');

  // Sort tutorials by section and stepNumber
  const sortedTutorials = tutorials.sort((a, b) => {
    if (a.data.section === b.data.section) {
      return a.data.stepNumber - b.data.stepNumber;
    }
    return a.data.section.localeCompare(b.data.section);
  });

  return sortedTutorials.map((tutorial, index) => {
    const previousTutorial = index > 0 ? sortedTutorials[index - 1] : null;
    const nextTutorial = index < sortedTutorials.length - 1 ? sortedTutorials[index + 1] : null;

    return {
      params: { slug: tutorial.slug },
      props: {
        tutorial,
        previousTutorial,
        nextTutorial,
        allTutorials: sortedTutorials,
      },
    };
  });
}

const { tutorial, previousTutorial, nextTutorial, allTutorials } = Astro.props;
const { Content } = await tutorial.render();
const { title, description, section, stepNumber, totalSteps } = tutorial.data;
---

<TutorialLayout
  title={title}
  description={description}
  section={section}
  totalSteps={totalSteps}
  currentStep={stepNumber}
  allTutorials={allTutorials}
  currentSlug={tutorial.slug}
>
  <Content />

  <!-- Tutorial Progress Tracker -->
  <div class="mt-8">
    <TutorialProgress client:load tutorialSlug={tutorial.slug} />
  </div>

  <!-- Navigation Buttons -->
  <div class="mt-8 pt-8 border-t border-border-default">
    <NavigationButtons
      previousUrl={previousTutorial ? `/tutorial/${previousTutorial.slug}` : undefined}
      previousLabel={previousTutorial ? previousTutorial.data.title : undefined}
      nextUrl={nextTutorial ? `/tutorial/${nextTutorial.slug}` : undefined}
      nextLabel={nextTutorial ? nextTutorial.data.title : undefined}
    />
  </div>
</TutorialLayout>
